In [1]:
import sqlite3
import pandas as pd

# 1. Connect to the database sitting right there in your day 18 folder
conn = sqlite3.connect("internship.db")
cursor = conn.cursor()

# 2. Create the mentors table
cursor.execute("""
CREATE TABLE IF NOT EXISTS mentors (
    mentor_id INTEGER PRIMARY KEY,
    mentor_name TEXT,
    track TEXT
)
""")

# 3. Insert some dummy mentor data to match our tracks
mentors_data = [
    (1, 'Prof. Alan', 'Data Science'),
    (2, 'Dr. Lovelace', 'Web Dev'),
    (3, 'Mr. Turing', 'Cybersecurity'),
    (4, 'Ms. Hopper', 'App Dev')
]
cursor.executemany("INSERT OR IGNORE INTO mentors VALUES (?, ?, ?)", mentors_data)
conn.commit()

# 4. The INNER JOIN Query
join_query = """
SELECT interns.name AS Intern, mentors.mentor_name AS Mentor, interns.track AS Track
FROM interns
INNER JOIN mentors 
ON interns.track = mentors.track;
"""
# 

# 5. The Python Bridge: Execute the query and load into a Pandas DataFrame
df = pd.read_sql_query(join_query, conn)

# Close the database connection
conn.close()

# Display the final Pandas DataFrame
df

  Intern        Mentor          Track
0   Anas    Prof. Alan   Data Science
1  Sarah  Dr. Lovelace        Web Dev
2  Rahul    Prof. Alan   Data Science
3  Emily    Mr. Turing  Cybersecurity
4   John    Ms. Hopper        App Dev